@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 13px;
    background: #c5cadf;
}
::-webkit-scrollbar-thumb{
    background: #70768a;
    border-radius: 1.5em;
}
::-webkit-scrollbar-thumb:hover{
    background: #454f6b;
}


section{
    padding: 100px 180px;
}
.main{
    background: linear-gradient(rgba(0,0,0,0.5),#001696),url(image/wallpaper7.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}
.content{
    color: #fff;
    padding-top: 110px;
}
.content h2{
    font-size: 2em;
    font-weight: 500;
}
.content h2 span{
    font-size: 2.6em;
    font-weight: 600;
}
.content h3{
    font-size: 50px;
    font-family: cursive;
}
.content p{
    max-width: 650px;
    font-size: 25px;
    font-style: italic;
    margin: 8px 0;
}
.content-btn{
    margin: 30px auto 0;
}
.content-btn a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 25px;
    color: #FFF;
    border: .5px solid #FFFFFF;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    font-weight: 700;
    border-radius: 10px;
    font-size: 1em;
}
.content-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: -1;
    transition: 0.5s;
    border-radius: 10px;
}
.content-btn a:hover span{
    width: 100%;
    border-radius: 10px;
}
.content-btn a:hover{
    color: #000;
}   

header{
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* --------------------------------backdrop-filter: blur(20px); -----------------------------*/
    transition: 0.5s ease;
}
header.sticky{
    background: #fff;
    padding: 15px 160px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .brand{
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigation{
    position: relative;  
}
header .navigation a{
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
}
header .navigation a:hover{
    color: #001696;
}
header.sticky .navigation a{
    color: #000;
}
header.sticky .brand{
    color: #0b0b47;
}
body{
    min-height: 100vh;
}

/* ------------ABOUT----------- */

#about{
    width: 100%;
    padding: 60px 0;
}
.title{
    text-align: center;
    padding-bottom: 60px;
}
.title h2{
    text-align: center;
    font-size: 40px;
    color: #001696;
    font-weight: bold;
    position: relative;
    padding-bottom: 20px;
}
.title h2::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #001696;
    transform: translateX(-50%);
}
.title h2::after{
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: -12px;
    font-size: 19px;
    transform: translateX(-50%);
    color: #001696;
    padding: 5px;
}

/*  Title-Text Styling   */

#about .title h2::after{
    content: "who i am";
}
#services .title h2::after{
    content: "what i provide";
    background: #efefef;
}
#testimonial .title h2::after{
    content: "our clients";
}
#contact .title h2::before {
    display: none;

}
.About-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.About-me{
    flex-basis: 50%;
}
.About-me-img{
    flex-basis: 50%;
    margin: auto; 
    overflow: hidden; 
}
.About-me-img img{
    width: 70%;
    border-radius: 15px;
    height: 420px;
    object-fit: cover;
}

.About-me h2{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
    color: #001696;
    font-size: 1.3em;
}
.About-text p{
    text-align: justify;
    font-size: 18px;
    color: #222;
    line-height: 25px;
    padding-bottom: 10px;
}
.About-text .cv a{
    float: left;
    background: #3a6cf4;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 16px 25px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #3a6cf4;
    transition: all 0.5s ease;
}

.details-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.About-box .counter-box{
    border-left: 6px solid #3a6cf4;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.About-box .counter-box h1{
    color: #3a6cf4;
    font-family: cursive;
    padding-left: 25px;
    font-weight: 900;
    font-size: 2.5em;
}
.About-box .counter-box-text p{
    margin-left: 20px;
    color: #555;
}
.About-box .counter-box-text h4{
    margin-left: 20px;
    font-size: 1.3em;
    font-weight: 700;
    color: #111;
}


.About-text a i{
    font-size: 1em;
    margin-left: 1px;
}
.About-text a:hover{
    color: #3a6cf4;
    background: none;
}

/* -------SERVICE-------- */
#services{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#001696);
    opacity: 0;
    transform: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
.service-desc h3 i{
    height: 30px;
    width: 30px;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 5px 0;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 14px;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

/* ----------TESTIMONIAL--------- */
#testimonial{
    width: 100%;
    padding: 70px 0;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySwiper{
    width: 70%;
}
.mySwiper .swiper-slide{
    margin: 20px 0;
}
.client-img{
    margin-right: 50px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}
.client-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client-details{
    max-width: 450px;
}
.client-details p{  
    font-size: 1.2em;
    color: #333;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid #001696;
}
.client-details h3{
    color: #000;
    font-size: 1.5em;
    margin: 7px 0;
}
.client-details span{
    color: #666;
    font-size: 1em;
    cursor: pointer;
}
.client-details b{
    font-size: 16px;
}
.mySwiper .swiper-button-next:after, .mySwiper .swiper-button-prev:after{
    content: '';
}
.swiper-button-prev i, .swiper-button-next i{
    color: #001696;
    font-size: 2.1em;
}
.swiper-pagination-bullet, .swiper-pagination-bullet-active{
    background: #001696;
}

/* ---------CONTACT--------- */

#contact{
    width: 100%;
    padding: 0 140px;
    padding-bottom: 30px;
}
#contact .contact{

    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contact-left h2{
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 40px;
}
.contact-list li{
    margin-bottom: 40px;
}
.contact-list li h3{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact-list li h3 i{
    color: #3a6cf4;
    font-size: 1.2em;
    margin-right: 10px;
}
.contact-list li span{
    color: #777;
    margin-left: 40px;
}
.contact-list li span a{
    color: #777 ;
}

.contact-right p{
    color: #777;
    font-size: 1.7em;
    margin-bottom: 20px;
}
.contact-right p span{
    color: #001696;
    font-weight: 700;
}
form{
    background: #fff;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
form input, form textarea{
    border: none;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #e7e7e7;
    font-size: 16px;
    resize: none; 
    color: #000;
    border-radius: 5px;
}
form button{
    padding: 15px;
    background: #3a6cf4;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 190px;
    margin: 10px auto;
    border: 2px solid #3a6cf4;
    border-radius: 30px; 
}
form button:hover{
    color: #3a6cf4;
    background: transparent;
    border: 2px solid #3a6cf4;
}
.footer{
    padding: 1.5em;
    background: #3a6cf4;
    color: #fff;
    text-align: center;
}
.social-links{
    text-align: center;
}
.social-links .fab{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #001696;
    margin: 10px 5px 0;
    color: #001696;
    cursor: pointer;
    transition: .5s;
}
.social-links .fab:hover{
    background: #001696;
    color: #fff;
    transform: translateY(-7px);
}
.social-links p{
    font-size: 16px;
    margin-top:20px;
}
.social-links p a{
    color: #001696;
    font-weight: 700;
    text-decoration: none;
}




.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: #001696;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}
.scrollToTop-btn.active{
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all .5s ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}




@media (max-width: 1040px){
    header {
        padding: 12px 20px;
    }

    header.sticky {
        padding: 10px 20px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active{
        z-index: 888;
        position: fixed;
        background: #fff;
        top: 0;
        right: 0;
        width: 380px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        transition: 0.3s ease;
    }

    header .navigation a{
        color: #000;
        font-size: 1.2em;
        font-weight: 500;
        margin: 10px;
        padding: 5px 20px;
        border-radius: 20px;
    }

    header .navigation a:hover{
        background: #3a6cf4;
        transition: 0.3s ease;
        color: #fff;
    }

    .meun-btn{
        position: absolute;
        background: url(image/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        right: 0;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.3s ease;
        filter: invert(1);
    }
    .meun-btn.active{
        z-index: 999;
        background: url(image/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        filter: invert(1);
    }
    section{
        padding: 40px 40px;
    }
    .content{
        padding-top: 120px;
    }
    .content h2{
        font-size: 1.1em;
    }
    .content h2 span{
        font-size: 3em;
    }
    .content h3 {
        font-size: 2em;
    }
    .content p {
        max-width: 600px;
        font-size: 18px;
    }
    /* ---------ABOUT-------- */
    .title h1{
        font-size: 35px;
    }
    .About-me{
        flex-basis: 100%;
    }
    .About-me-img{
        flex-basis: 100%;
    }
    .About-me-img img {
        width: 100%;
        margin-top: 20px;
    }
    #testimonial .title-text h1::after{
        content: "what clients says";
        font-size: 16px;
    }
    /* -------SERVICE------- */
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 12px
    }
    hr{
        margin: 5px auto;
    }
    .single-service img{
        height: 240px;
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;
    }
    .service-desc h3 i{
        height: 20px;
        width: 20px;
        font-size: 15px;
        line-height: 20px;
    }

    /* ---------TESTIMONIAL----------- */
    .mySwiper .swiper-slide{
        flex-direction: column;
    }
    .client-details{
        text-align: center;
        margin-top: 50px;
    }
    .client-img{
        margin: 0 0;
        width: 230px;
        height: 230px;
    }
    .contact{
        flex-direction: column;
        font-size: 0.9rem;
    }
    .contact .contact-left{
        margin-bottom: 40px;
    }
    #contact{
        padding: 70px 30px 30px 30px;
        align-items: center;
        align-content: center;
        align-items: center;
    }
    #contact .title{
        padding-bottom: 20px;
    }

    .social-links .fab {
        height: 35px;
        width: 35px;
        font-size: 18px;
        line-height: 35px;
    }
    .social-links p {
        font-size: 15px;
    }
    .social-links p a{
        font-weight: 600;
    }
    .scrollToTop-btn {
        width: 40px;
        height: 40px;
        font-size: 25px;
        line-height: 45px;
    }
}








